<section id="search">
		<div class="container">
			<div class="tabbable tabbable_red">
				<ul class="nav-tabs">
					<li class="active with_icon"><a href="#tab1" data-toggle="tab"><i class="icomoon-search"></i>Search</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<form id="homepage_search" action="#">
							<div class="row">
								<div class="span4">
									<label for="type" class="dropdown_label">Type</label>
									<select name="type" id="type" class="custom_select">
										<option value="">Cars</option>
										<option value="">Motorcycles</option>
										<option value="">Trucks</option>
									</select>
								</div>
								<div class="span4">
									<label for="category" class="dropdown_label">Category</label>
									<select name="category" id="category" class="custom_select">
										<option value="">Sedan</option>
										<option value="">Hedgeback</option>
										<option value="">Pick-up</option>
									</select>
								</div>
								<div class="span4">
									<label for="location" class="dropdown_label">Location</label>
									<select name="location" id="location" class="custom_select">
										<option value="">New York</option>
										<option value="">Chicago</option>
										<option value="">Washington</option>
										<option value="">Boston</option>
									</select>
								</div>
							</div>
							<div class="row second-row">
								<div class="span4">
									<label for="condition_new" class="custom_radio custom_radio_light"><input type="radio" name="condition" id="condition_new" value="used">Used items</label>
									<label for="condition_used" class="custom_radio custom_radio_light"><input type="radio" name="condition" id="condition_used" value="new">New items</label>
								</div>
								<div class="span4 darker">
									<label for="with_photos" class="custom_checkbox custom_checkbox_light"><input type="checkbox" name="with_photos" id="with_photos">With photos</label>
									<label for="with_videos" class="custom_checkbox custom_checkbox_light"><input type="checkbox" name="with_videos" id="with_videos">With videos</label>
								</div>
								<div class="span4">
									<a href="#" class="clear_filters"><i class="icon-remove"></i> Clear filters</a>
									<a class="button submit yellow right">Search</a>
								</div>
							</div>
						</form>
					</div>
					
				</div>
			</div>
			<div class="label_under">
				<p><a href="#">Advanced search</a></p>
			</div>
		</div>
	</section>