<section id="slider">
		<div class="fullwidthbanner-container">
			<div class="fullwidthbanner">
				<ul>

					<li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images/thumbs/thumb1.html">
						<img src="/assets/images/slide1.jpg" alt="">
						<div class="caption lfr"
							 data-x="655"
							 data-y="164"
							 data-speed="800"
							 data-start="1100"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide1b.png" alt="">
						</div>
						<div class="caption sft"
							 data-x="655"
							 data-y="130"
							 data-speed="300"
							 data-start="1000"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide1a.png" alt="">
						</div>
						<div class="caption fade"
							 data-x="690"
							 data-y="230"
							 data-speed="1000"
							 data-start="2500"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide1c.png" alt="">
						</div>						
					</li>

					<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="/assets/images/thumbs/thumb2.html">
						<img src="/assets/images/slide2.jpg" alt="">
						<div class="caption lfl"
							 data-x="685"
							 data-y="40"
							 data-speed="600"
							 data-start="1200"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide2a.png" alt="">
						</div>
						<div class="caption lfr"
							 data-x="685"
							 data-y="80"
							 data-speed="600"
							 data-start="1200"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide2b.png" alt="">
						</div>
						<div class="caption lfb ltt"
							 data-x="685"
							 data-y="150"
							 data-speed="600"
							 data-start="2000"
							 data-easing="easeOutExpo"
							 data-end="4300" 
							 data-endspeed="300" 
							 data-endeasing="easeInSine">
							<img src="/assets/images/slide2c.png" alt="">
						</div>
						<div class="caption lfb ltt"
							 data-x="685"
							 data-y="150"
							 data-speed="600"
							 data-start="4400"
							 data-easing="easeOutExpo"
							 data-end="6700" 
							 data-endspeed="300" 
							 data-endeasing="easeInSine">
							<img src="/assets/images/slide2d.png" alt="">
						</div>
						<div class="caption lfb ltt"
							 data-x="685"
							 data-y="150"
							 data-speed="600"
							 data-start="6800"
							 data-easing="easeOutExpo"
							 data-end="9200" 
							 data-endspeed="300" 
							 data-endeasing="easeInSine">
							<img src="/assets/images/slide2e.png" alt="">
						</div>
					</li>

					<li data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="/assets/images/thumbs/thumb3.html">
						<img src="/assets/images/slide3.jpg" alt="">
						<div class="caption lfb"
							 data-x="460"
							 data-y="17"
							 data-speed="400"
							 data-start="200"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide3a.png" alt="">
						</div>
						<div class="caption randomrotate"
							 data-x="30"
							 data-y="90"
							 data-speed="600"
							 data-start="2500"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide3b.png" alt="">
						</div>
						<div class="caption randomrotate"
							 data-x="180"
							 data-y="120"
							 data-speed="600"
							 data-start="2900"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide3c.png" alt="">
						</div>
						<div class="caption randomrotate"
							 data-x="30"
							 data-y="170"
							 data-speed="600"
							 data-start="2500"
							 data-easing="easeOutExpo">
							<img src="/assets/images/slide3d.png" alt="">
						</div>
						<div class="caption button green sfb"
							 data-x="30"
							 data-y="260"
							 data-speed="600"
							 data-start="2900"
							 data-easing="easeOutExpo">
							View listing
						</div>
					</li>

				</ul>

				<div class="tp-bannertimer"></div>
			</div>
		</div>
	</section>