<footer>
		<div id="footer_columns" class="clearfix">
			<div class="container_12">
				<div class="grid_2">
					<h3>Motor</h3>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Sitemap</a></li>
						<li><a href="#">News</a></li>
					</ul>
				</div>
				<div class="grid_2">
					<h3>About</h3>
					<ul>
						<li><a href="#">Latest News</a></li>
						<li><a href="#">Press Releases</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</div>
				<div class="grid_2">
					<h3>Help</h3>
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Online Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
				<div class="grid_3">
					<h3>Twitter</h3>
					<p class="tweet">
						<a href="#">@bestwebsoft</a> odio magnam aspernatur corporis ducimus! <a href="#">http://bestwebsoft.com/</a><span>posted 2 days ago</span>
					</p>
				</div>
				<div class="grid_3 contact_info">
					<h3>Contact Info</h3>
					<p class="contact_info_description">Lorem ipsum dolor sit amet<br>Ponsectetur adipisicing elit magna</p>
					<p><strong>P.:</strong> (555) 366 - 00 - 00</p>
					<p><strong>E.:</strong> <a href="mailto:support@ab-themes.com">support@ab-themes.com</a></p>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="container_12">
				<div id="logo_footer" class="grid_4">
					<img src="/assets/Marathon_Logo.png" alt="Motor Logo">
				</div>
				<nav class="grid_5">
					<ul id="footer_menu" class="clearfix">
						<li class="current_menu_ancestor"><a href="#">Buy</a></li>
						<li><a href="results_grid.html">Sell</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Service</a></li>
					</ul>
				</nav>
				<div id="social_icons" class="grid_3">
					<a href="#" class="circle"><i class="icon-twitter"></i></a>
					<a href="#" class="circle"><i class="icon-linkedin"></i></a>
					<a href="#" class="circle"><i class="icon-facebook"></i></a>
				</div>
			</div>
		</div>
    </footer>
